{% extends "base.html" %}

{% block title %}Add expense{% endblock %}

{% block body %}

{% if expenses.errors is not empty %}
    <p>Errors:</p>
        <ul>
            {% for error in expenses.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
{% endif %}

<main>
    <div class="container-fluid">

        <div class="mainbg">
        
            <div class="row head spacer"> 
                <div class="col">           

                    <div class="d-inline-block">
                        <a href="/items/index" class="btn mmbtn" role="button">Menu główne</a>
                    </div>

                    <a href="index.php" class="button" style="float: right; margin-top: 20px; margin-right: 20px">Wyloguj się
                    </a>
                </div>   
            </div> 

            <div class="col title">
                <h1>Nowy wydatek </h1>
            </div>

            <h3 id="message"></h3>

            <div class="text-center mx-auto w-50" id="limitBox">
                <table class="table table-hover limit-table" id="table">
                    <thead>
                        <tr>
                            <th scope="col">Limit</th>
                            <th scope="col">Wydano</th>
                            <th scope="col">Pozostało</th>
                            <th scope="col">Po operacji</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <th scope="row" id="limitValue">0</th>
                                <td id="issuedValue">0</td>
                                <td id="leftToTheLimit">0</td>
                                <td id="afterOperation">0</td>
                            </tr>
                    </tbody>
                </table>
            </div>


            <form action="/expenses/create" method="post">

                <div class="form-group row">
                    <label for="value" class="col-5 col-form-label"><h5>Kwota</h5></label>
                    <div class="col-7" >
                        <input type="number" id="amount" name="amount" step="0.01" min="0" required></label>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="date" class="col-5 col-form-label"><h5>Data</h5></label>
                    <div class="col-7" >
                        <input type="date" id="date" name="date" required></label>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="paymentmethod" class="col-5 col-form-label"><h5>Metoda płatności</h5></label>
                    <div class="col-7" >
                        <select id="paymentmethod" name="paymentmethod">

                            {% for paymentMethod in paymentMethods %}
                                <option> {{ paymentMethod }} </option>
                            {% endfor %}  
                            
                        </select>                       
                    </div>
                </div>

                <div class="form-group row">
                    <label for="expensecat" class="col-5 col-form-label"><h5>Kategoria</h5></label>
                    <div class="col-7" >
                        <select id="expensecat" name="expensecat">
                            {% for expenseCategory in expensesCategories %}
                                <option> {{ expenseCategory }} </option>
                            {% endfor %}  
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="comment" class="col-5 col-form-label"><h5>Komentarz (opcjonalnie)</h5></label>
                    <div class="col-7" >
                        <textarea name="comment" id="comment" rows="1"></textarea>
                    </div>
                </div>

                <div class="form-group row addExpense">
                    <div class="col d-flex justify-content-center">
                        <button type="submit" class="btn sbmbtn">Dodaj</button>
                    </div>
                </div>
        
            </form>	

        </div>
    </div>

</main>

{% endblock %}



{% block scripts %}

    <script>

        // default date setting
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth()+1;
        if(month < 10){
            month = '0' + month;
        }
        var today = String(date.getDate()).padStart(2, '0');
        var datePattern = year + '-' + month + '-' + today;
        document.getElementById('date').value = datePattern;  

        showValues();

        document.getElementById('amount').addEventListener('input', () => {
            showValues()
        });

        document.getElementById('expensecat').addEventListener('change', () => {
            showValues()
        });

        document.getElementById('date').addEventListener('change', () => {
            showValues()
        });


        async function showValues() {
            await getCategoryLimit();
            await getSummaryExpense();
            difference();
            afterTransaction();
            expensesAlert();
        }


        async function getCategoryLimit() {
            var file = "/expenses/getCategoryLimit";
            var value = document.getElementById("expensecat").value;
            var data = { category: value };

            const res = await fetch(file, {
                method: 'POST',
                headers : { 'Content-Type': 'application/json' },
                body: JSON.stringify(data),
                })
                
            const resp = await res.text(); 
            
            document.getElementById("limitValue").innerHTML = resp;
        }


        async function getSummaryExpense() {
            var file = "/expenses/getSummaryExpense";
            var value = document.getElementById("expensecat").value;
            var date = document.getElementById("date").value;
            var data = { category: value,
                        date: date};

            const res = await fetch(file, {
                method: 'POST',
                headers : { 'Content-Type': 'application/json' },
                body: JSON.stringify(data),
                })
                
            const resp = await res.text(); 

            document.getElementById("issuedValue").innerHTML = resp;
        }


        function difference(){
            var limit = document.getElementById("limitValue").textContent;
            var issued = document.getElementById("issuedValue").textContent;

            if(limit == "-") {
                var difference = "-";
            } else {
                if(issued == "-") {
                issued = 0;
                issued = parseInt(issued);
                }
                var difference = limit - issued;
            }
            document.getElementById("leftToTheLimit").innerHTML = difference;
        }


        function afterTransaction() {
            var limit = document.getElementById("limitValue").textContent;
            var issued = document.getElementById("issuedValue").textContent;
            var actualExpenseValue = document.getElementById("amount").value;

            if (limit == "-") {
                var afterTransaction = "-";
            } else {
                limit = parseInt(limit);

                if (issued == "-") {
                issued = 0;
                }

                var difference = limit - issued;
                var afterTransaction = difference - actualExpenseValue;
            }
            document.getElementById("afterOperation").innerHTML = afterTransaction;
        }


        function expensesAlert() {
            var afterTransaction = document.getElementById('afterOperation').textContent;
            if (afterTransaction != "-") {
                if (afterTransaction < 0) {
                    table.style.backgroundColor = '#FF6666';
                    var message = "Przekroczono limit!";
                    document.getElementById("message").innerHTML = message;
                } else {
                table.style.backgroundColor = '#e4e4e4';
                var message = "";
                document.getElementById("message").innerHTML = message;
                }
            }
        }



    </script>

{% endblock %}


