{% extends "base.html" %}

{% block title %}Balance{% endblock %}

{% block body %}

<main>
    <div class="container-fluid">

        <div class="mainbg">
        
            <div class="row head"> 
                <div class="col">           

                    <div class="d-inline-block">
                        <a href="/items/index" class="btn mmbtn" role="button">Menu główne</a>
                    </div>

                    <a href="index.php" class="button" style="float: right; margin-top: 20px; margin-right: 20px">Wyloguj się</a>
                </div>   
            </div> 

            <div class="row">
                <div class="col-12 col-md-4 col-xl-3">
                    <div class="row"><a class="btn optionbtn" href="/currentMonthBalance" role="button">Bilans aktualnego miesiąca</a></div>
                    <div class="row"><a class="btn optionbtn" href="/previousMonthBalance" role="button">Bilans poprzedniego miesiąca</a></div>
                    <div class="row"><a class="btn optionbtn" href="selectDates" role="button">Bilans - wprowadź daty</a></div>
                </div>
                <div class="col-12 col-md-8 col-xl-9">
                    <div class="row">
                        <div class="balanceTitle">
                            <h1>Bilans - wprowadź daty</h1>
                        </div>
                    </div>
                    <div class="row">
                        <form action="/balances/selecteddates" method="post">
                            <div class="form-group row">
                                <label for="date" class="col-5 col-form-label"><h5>Data początkowa</h5></label>
                                <div class="col-7" >
                                    <input type="date" name="firstDate" id="theDate" required></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="date" class="col-5 col-form-label"><h5>Data końcowa</h5></label>
                                <div class="col-7" >
                                    <input type="date" name="secondDate" id="theDate" required></label>
                                </div>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <button type="submit" class="btn sbmbtn">POKAŻ BILANS</button>
                            </div>
                        </form>	
                    </div>
                </div>
            </div>
        </div>

            
    </div>
    

</main>

{% endblock %}