{% extends "base.html" %}

{% block title %}Expenses settings{% endblock %}

{% block body %}

<main>
    <div class="container-fluid">

        <div class="mainbg">
        
            <div class="row head spacer"> 
                <div class="col">           

                    <div class="d-inline-block">
                        <a href="/settings" class="btn mmbtn" role="button">Menu ustawień</a>
                    </div>

                    <a href="index.php" class="button" style="float: right; margin-top: 20px; margin-right: 20px">Wyloguj się
                    </a>
                </div>   
            </div> 

            <div class="col title">
                <h1>Edycja kategorii wydatków</h1>
            </div>

            <form action="/ExpenseSettings/updateExpenses" method="post">

                <div class="form-group row">
                    <label for="newExpenseCategory" class="col-5 col-form-label"><h5>Wprowadź nową kategorię</h5></label>
                    <div class="col-7" >
                        <textarea name="newExpenseCategory" id="newExpenseCategory" rows="1"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="categoryToDelete" class="col-5 col-form-label"><h5>Usuń wybraną kategorię</h5></label>
                    <div class="col-7" >
                        <select id="categoryToDelete" name="categoryToDelete">
                            <option selected value>Wybierz kategorię</option>

                            {% for expenseCategory in expensesCategories %}
                                <option> {{ expenseCategory }} </option>
                            {% endfor %}  

                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="expenseLimitCategory" class="col-5 col-form-label"><h5>Ustaw limit kategorii</h5></label>
                    <div class="col-7" >
                        <select id="expenseLimitCategory" name="expenseLimitCategory">
                            <option selected value>Wybierz kategorię</option>

                            {% for expenseCategory in expensesCategories %}
                                <option> {{ expenseCategory }} </option>
                            {% endfor %}  

                        </select>
                    </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="expenseLimit" class="col-5 col-form-label"><h5>Wprowadź wartość limitu</h5></label>
                    <div class="col-7" >
                        <input type="number" name="expenseLimit"   id="expenseLimit" step="0.01" min="0">
                    </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="newPaymentMethod" class="col-5 col-form-label"><h5>Dodaj formę płatności</h5></label>
                    <div class="col-7" >
                        <textarea name="newPaymentMethod" id="newPaymentMethod" rows="1"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="paymentMethodToDelete" class="col-5 col-form-label"><h5>Usuń formę płatności</h5></label>
                    <div class="col-7" >
                        <select id="paymentMethodToDelete" name="paymentMethodToDelete">
                            <option selected value>Wybierz formę płatności</option>
                            
                            {% for paymentMethod in paymentMethods %}
                                <option> {{ paymentMethod }} </option>
                            {% endfor %}  

                        </select>
                    </div>
                </div>

                <div class="form-group row addExpense">
                    <div class="col d-flex justify-content-center">
                        <button type="submit" class="btn sbmbtn">Zapisz zmiany</button>
                    </div>
                </div>
        
            </form>	

        </div>
    </div>

</main>

{% endblock %}