{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}

<main>
    <div class="container-fluid">
        <div class="mainbg">
            
            <div class="row head"> 
                <div class="col">           

                    <div class="d-inline-block">
                        <a href="/items/index" class="btn mmbtn" role="button">Menu główne</a>
                    </div>

                    <a href="/logout" class="logoutButton" style="float: right; margin-top: 20px; margin-right: 20px">Wyloguj się
                    </a>
                </div>   
            </div> 

            <div class="row PB">

                <h1 class="col-12 text-center title">Ustawienia</h1>
                        
            </div>
            
            <div class="row">
                
                <div class="col-12 text-center">
                    <a class="btn optionbtn" href="/incomeSettings" role="button">Przychody</a>             
                </div>

                <div class="col-12 text-center">
                    <a class="btn optionbtn" href="/expenseSettings" role="button">Wydatki</a>             
                </div>

                <div class="col-12 text-center">
                    <a class="btn optionbtn" href="settings.php" role="button">Użytkownik</a>             
                </div>

            </div>
        </div>
    </div>

</main>

{% endblock %}
